body
{
    margin: 0px;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

#main
{
  
 
  text-align: center;

}

#usersList
{
    width: 12%;
    height: 100vh;
    color: white;
    overflow-y: auto;
    background: #1a73e8;
   


}

#amountUsers
{
    margin-top: 0px;
    border-bottom : 2px solid white;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.ell
{
    font-size: normal;
    word-break: break-word;
    font-family: 'Mukta', sans-serif;
}
.ell:hover
{
    font-size: large;
    cursor: pointer;
    word-break: break-word;
}

#serverMessages
{
    font-family: 'Baskervville', serif;
}

.userMessages
{
    text-align: left;
}

p.infoOn
{
    text-align: left;
    font-style: italic;
    color: green;
}

p.infoOff
{
    text-align: left;
    font-style: italic;    
    color: red;

}

label
{
    font-family: 'Baskervville', serif;
}


textarea
{
    max-width: 90%;
    width: 90%;
    min-width: 90%;
    margin: 5%;
    margin-top: 3px;
    height: 20vh;
    max-height: 20vh;
    padding: 8px;
}

#sentBtn
{
    background-color: #1a73e8;
    color: white;
    text-align: center;
    width: 90%;
    position: relative;
    top: -30px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-color:  #1a73e8;
    border-radius: 6px;

}

#sentBtn:hover
{
    background-color: #1a73e8;
    color: white;
    box-shadow: 1px 2px 1px 2px lightgray;
    text-align: center;
    width: 90%;
    position: relative;
    top: -30px;
    padding-bottom: 10px;
    padding-top: 10px;
    cursor: pointer;
    -webkit-box-shadow: 10px 10px 73px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 73px -17px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 73px -17px rgba(0,0,0,0.75);

}

.messages
{
    text-align: left;
    margin-bottom: 2px;
    
}

.msgDates
{
    font-size: small;
    text-align: left;
    color: lightslategray;
    margin-top: 0px;

}

.msgDates:hover
{
    font-size: 16px;
    cursor: pointer;
    text-align: left;
    color: lightslategray;
    margin-top: 0px;

}

#chat
{
    min-height: 45vh;
    height: 50vh;
    max-height: 55vh;
    overflow-y: auto;
    border: 3px solid #1a73e8;
    padding-left: 4px;


}

