body
{
    margin: 0px;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

#main
{
  
  border: 1px solid black;
  text-align: center;

}

#userList
{
    position: absolute;
    left: 10px;
    top: 0vh;
    overflow-y: auto;
    width: 5%;

}

.userMessages
{
    text-align: left;
}

p.infoOn
{
    text-align: left;
    font-style: italic;
    color: green;
}

p.infoOff
{
    text-align: left;
    font-style: italic;    
    color: red;

}